* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  font-family: 'Comfortaa', serif;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  text-align: right;
  width: 100%;
  padding-left: 5em;
  padding-right: 5em;
}

nav {
  margin: 1em;
  text-align: center;
}

#container {
  width: 100%;
  padding: 1em;
}

#bio,
#portfolio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  line-height: 2em;
}

.portBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  text-align: center;
}

.about {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}

#info {
  margin: 1em;
}

footer {
  text-align: center;
  margin: 1.5em;
  padding: 1em;
}

#proPic {
  margin-right: 0.5em;
  border-radius: 5em;
  width: 10em;
}

.appPic {
  border-radius: 0.2em;
  box-shadow: 10px 10px 24px -9px rgba(88, 111, 107, 1);
}

.icon {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.fas {
  font-size: 3.5em;
}

.fas-icon {
  margin: 1.5em;
}

.fas-icon-bottom {
  margin-top: 1.5em;
}

.fab {
  /* margin-left: 0.5em; */
  font-size: 2.5em;
}

.fab:hover {
  transition: 0.1s ease-in-out;
  font-size: 3em;
}

.bigTxt {
  font-family: 'Joesfin Sans', sans-serif;
  font-size: 2em;
}

.mainTxt {
  font-size: 1.1em;
}

.smallTxt {
  font-size: 0.9em;
}

.title {
  color: #1b456d;
  font-size: 1.6em;
}

.headLink {
  text-decoration: none;
  color: #1b456d;
}

.headLink:hover {
  color: #449b81;
}

.mainLink {
  color: #1b456d;
  text-decoration: none;
  font-size: 1em;
}

.mainLink:hover {
  cursor: pointer;
  text-decoration: overline;
  color: #449b81;
}

.mainLink:active {
  border: none;
  color: #1b456d;
  transition: font 0.1s;
}
